[defaults]
#hash_behaviour = merge
#deprecation_warnings=False
#become = True
#become_user = ubuntu
#become_method = sudo
#allow_world_readable_tmpfiles = true
#log_path=ansible.log


[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o StrictHostkeyChecking=no
